@CHARSET "UTF-8";
body {
	Font-family: arial;
	font-size:15px;
	font-color:black;
	text-align: left;
	width: 100%;
	height: auto;
 }
 #banner{
 	float : left;
 	width: 85%;
 	height: 100px;
 	
 }
  #banner-img{
 	
 	width: inherit;
 	height: 100px;
 	
 }
 #content {
 
 	float:left;
 	font-size:14px;
 	width: 100%;
 	height:800px;
 
 }
#content-view{
	
	float: left;
	width: 100%;
	height: auto;
}

.search-form {
	
	width: 100%;		
}

.search-form  td:first-child {
	
    width: 25%; 
    padding-left: 5%;

}


#tablea {
	margin-right:5%;
	margin-left: 5%;
	width: 50%;
	height: 300px;
}
.search-form th, td { padding:10px; }

 
 #avatar{
 float:left;
 width: 15%;
 border: 2px;
 
 }
 
 #advance-search{
	border-style: outset;
	 margin: 10px 15% 20px 15%;
	 height: 25%;
 }
 #title-search{
 	font-size: 20px;
 	text-align: center;
 	margin-top: 20px;
 }
 #table-warp{
	margin: 10px 15% 20px 15%;
 }
 


#action-content{
	
  margin: 10px 15% 20px 15%;
 
}

		
		
.error_show{
	color: red;
	margin-left: 10px;
}

.invalid{
	border-color: red;
	border-width: 2px ;
	border-style: solid;
}
		
.valid{
	border: 2px solid green;
}
